*{
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Overpass', sans-serif;
    background-color: rgb(12, 12, 12);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1{
    font-size: 4rem;
    text-align: center;
}

p{
    margin-top: 50px;
    margin-bottom: 30px;
    text-align: center;
    margin-left: 80px;
    margin-right: 80px;
    font-size: larger;
}

.galeriacontainer{
    display: flex;
}

.galeriaheader{
    padding: 15px;
}

a{
    font-size: 18px;
    background-color: transparent;
    font-weight: bold;
    text-decoration: none;
}

#galeria{
    margin-top: 30px;
    height: 150px;
}

#img{
    display: flex;
    margin-left: 5rem;
    flex-direction: column;
    align-items: center;
    height: 14rem;
}

#img::after{
    margin-top: 1rem;
    text-align: center;
    content: "06/07/2023";
    font-size: 0.9rem;
    z-index: 2;
}


#img2{
    display: flex;
    margin-left: 5rem;
    flex-direction: column;
    align-items: center;
    height: 14rem;
}

#img2::after{
    margin-top: 1rem;
    text-align: center;
    content: "08/07/2023";
    font-size: 0.9rem;
    z-index: 2;
}