*{
    margin: 0;
    padding: 0;
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(20, 14, 32);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1{
    font-size: 4rem;
    text-align: center;
}

p{
    width: 450px;
    padding: 50px;
    text-align: center;
    font-size: larger;
}

.sobrecontainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}