*{
    margin: 0;
    padding: 0;
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(20, 14, 32);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1{
    font-size: 4rem;
    text-align: center;
}

h2{
    text-align: center;
}

.header{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 15px;
    background-color: rgb(16, 11, 22);
}
    
#sobre{
    font-size: 18px;
    background-color: transparent;
    font-weight: bold;
    text-decoration: none;

}

#icon{
    width: 100vw;
    font-size: 18px;
    font-weight: bold;
    background-color: transparent;
}